.jumper {
    background-color: var(--blue);
    position: fixed;
    bottom: 6.5em;
    right: 1.5em;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    z-index: 100;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    color:var(--white);
    display: none;
}

.jumper.show {
    display: flex;
}